/* stylelint-disable selector-class-pattern */
.region.fullscreen.below {
  background-color: #000000 !important;
}
.region.fullscreen.below .module.MMM-VideoServerPlayer,
.region.fullscreen.below .module.MMM-VideoServerPlayer .module-content,
.region.fullscreen.below .module.MMM-VideoServerPlayer .wrapper,
.region.fullscreen.below .module.MMM-VideoServerPlayer .player,
.region.fullscreen.below .module.MMM-VideoServerPlayer video {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  width: 100vw !important;
  height: 100vh !important;
}

.module.MMM-VideoServerPlayer .player > video {
  opacity: 0.75 !important;
  object-fit: cover !important;
}

.module.MMM-VideoServerPlayer .player > :not(video) {
  position: absolute !important;
  top: -1000vh !important;
  left: -1000vw !important;
  width: 0px !important;
  height: 0px !important;
  overflow: hidden !important;
  display: none !important;
  visibility: hidden !important;
}
